<form id="bundle-builder">
  <div>
    <label for="green-group">Green</label>
      <select name="green-group" id="green-group">
        {% for product in collections.all.products %}
          {% if product.tags contains "green_group" %}
            {% assign variant = product.selected_or_first_available_variant %}
            <option value="{{ variant.id }}">{{ product.title }} - {{ variant.price | money }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="blue-group">Blue</label>
      <select name="blue-group" id="blue-group">
        {% for product in collections.all.products %}
          {% if product.tags contains "blue_group" %}
            {% assign variant = product.selected_or_first_available_variant %}
            <option value="{{ variant.id }}">{{ product.title }} - {{ variant.price | money }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <button>Submit</button>
</form>

<script>
  const form = document.getElementById("bundle-builder");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const greenGroup = document.getElementById("green-group").value;
    const blueGroup = document.getElementById("blue-group").value;
    const bundleId = new Date().getTime();

    await fetch("/cart/add.js", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        items: [
          {
            id: greenGroup,
            quantity: 1,
            properties: {
              _bundleId: bundleId
            },
          },
          {
            id: blueGroup,
            quantity: 1,
            properties: {
              _bundleId: bundleId
            },
          },
        ],
      }),
    });

    window.location.reload()

  });
</script>


{% schema %}
  {
    "name": "Bundle Builder",
    "tag": "section",
    "class": "bundle-builder",
    "settings": [

    ],
    "presets": [
      {
        "name": "Bundle Builder"
      }
    ]
  }
  {% endschema %}